
body {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 margin: 0;
 background-color: #000000;
 font-family: 'Arial', sans-serif;
}
.container {
 background-color: #1c1c1c;
 padding: 20px;
 border-radius: 10px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
 text-align: center;
 color: #ccc;
}
.container h1 {
    font-size: 14px;
    margin-bottom: 20px;
 }
.password-display {
   background-color: #333;
   padding: 10px;
   border-radius: 5px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 20px;
}
.password-display span {
    font-size: 18px;
    color: #fff;
}
.password-display i {
    color: #4caf50;
    cursor: pointer;
}
.settings {
    text-align: left;
    margin-bottom: 20px;
}
.settings label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
}
.settings input[type="checkbox"] {
    margin-right: 10px;
}
.settings .slider-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.settings .slider-container span {
    font-size: 14px;
}
.settings input[type="range"] {
    width: 100%;
}
.strength {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.strength span {
    font-size: 14px;
}
.strength .bars {
    display: flex;
}
.strength .bars div {
    width: 10px;
    height: 10px;
    margin-left: 2px;
    background-color: #444;
}
.strength .bars .active {
    background-color: #ffeb3b;
}
.generate-btn {
    background-color: #4caf50;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}
